:root{
    --cor-fundo-top: #56ccf6;
    --cor-fundo-bottom: #0f3f67;
    --caixa-texto: #f2eeee;
    --texto-escuro: #000000;
    --texto-claro: #ffffff;
    --cor-botao1: #44f0b9;
    --cor-botao2: #8bb4d5;
    --cor-alerta: #f04444;
    --cor-atencao: #f0bf44;
    font-family: 'Arial', sans-serif, Helvetica, Roboto, Inter, Tahoma;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, var(--cor-fundo-top), var(--cor-fundo-bottom));
    padding: 10px;
}